<div class="container header">
   <a class="logo" href="{{ header.logoUrl }}">
       <img src="./images/{{ header.logoImage }}" alt="">
   </a>
    <ul class="header-links">
        {% for link in header.links %}
            <li class="header-links__item{% if link.submenu %} has-children{% endif %}">
                <a href="{{ link.url }}">{{ link.name }}</a>
                    {% if link.submenu %}
                <ul class="submenu">
                    {% for link in link.submenu %}
                        <li class="header-submenu__item">
                            <a href="{{ link.url }}">{{ link.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                    {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>